.new-banner-main-container {
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
}

.left-side-container {
  background-color: var(--bg-color);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  min-height: max-content;
  padding: 2rem 1.5rem;
  white-space: nowrap;
}

.left-side-text {
  margin: 0.5rem;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
  display: inline-block;
  color: var(--text-color);
  transition: 0.2s;
  cursor: pointer;
  border: none;
  background: none;
}

.left-side-text:hover {
  box-shadow: 0 6px 0 0 rgba(0,0,0,0.1);
}

.left-side-text-one {
  text-align: start;
  display: block;
  padding: 0.2rem 0.5rem;
  color: beige;
  background-color: var(--bg-dark-color);
  display: inline-block;
  font-size: 0.9rem;
}

.right-side-container {
  background-color: var(--bg-color);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10vh;
  padding: 3rem 2rem;
}

.right-side-text {
  text-align: start;
  max-width: 80%;
  font-size: 1.1rem;
}

.right-side-btn-container {
  margin: 1rem 0 0 0;
  font-size: 1rem;
}

.right-side-btn {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  box-shadow: -2px -3px 0 rgba(0,0,0,0.3);
  padding: 0.2rem 0.3rem;
  transition: 0.2s;
}

.right-side-btn:hover {
  box-shadow: -4px -6px 0 rgba(0,0,0,0.3);
  
}

.middle-container {
  background-image: url("https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG9ubGluZSUyMHN0b3JlfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60");
  object-fit: contain;
  background-position: center;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 25%, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 25%); 
  clip-path: polygon(30% 0%, 70% 0%, 100% 25%, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 25%);
  position: relative;
  min-height: 50vh;
}

.inside-middle-container {
  background-color: rgba(164, 162, 162, 0.7);
  position: absolute;
  right: 10%;
  left: 10%;
  top: 10%;
  bottom: 10%;
  padding: 2rem;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 25%, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 25%); 
  clip-path: polygon(30% 0%, 70% 0%, 100% 25%, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 25%);
}

.inside-middle-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inside-middle-brandname {
  font-size: 2rem;
  color: beige;
  text-shadow: 0 0 4px rgba(20, 20, 20, 0.7);
}

.inside-middle-text {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.new-bannner-brand-name {
  color: teal;
}

@media screen and (width >= 576px) {
  .new-banner-main-container {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .right-side-text {
    text-align: start;
    max-width: 95%;
    font-size: 0.9rem;
  }

  .left-side-text {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
    display: block;
  }

  .left-side-text-one {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 1rem 0.5rem;
    color: beige;
    background-color: var(--bg-dark-color);
    display: inline-block;
    margin: 1rem;
  }

  .right-side-btn {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    box-shadow: -2px -3px 0 rgba(0,0,0,0.3);
    padding: 0.2rem 0.2rem;
    transition: 0.2s;
    font-size: 0.8rem;
  }
  
  .right-side-container {
    background-color: var(--bg-color);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    /* width: 100%;
    height: 100%; */
  }

  .left-side-container {
    background-color: var(--bg-color);
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (width >= 768px) {
  .new-banner-main-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .left-side-container {
    background-color: var(--bg-color);
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .right-side-container {
    background-color: var(--bg-color);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%;
    height: 100%; */
  }

  .right-side-text {
    text-align: start;
    max-width: 50%;
    font-size: 1.2rem;
  }

  .left-side-text {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  }

  .right-side-btn {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    box-shadow: -2px -3px 0 rgba(0,0,0,0.3);
    padding: 0.2rem 0.5rem;
    transition: 0.2s;
    font-size: 1.1rem;
  }
}