.cart-image-success-page {
  max-width: 90px;
  justify-self: center;
}

.cart-product-quantity {
  margin: 0.5rem 0 0 0;
}

.cart-product-wishlist-btn {
  background: none;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  text-decoration: none;
  color: var(--text-color);
}

.cart-product-price-cut {
  text-decoration: line-through;
  font-size: 1.1rem;
  margin: 0 0.2rem 0 0;
}