.cart-image-success-page {
  max-width: 90px;
  justify-self: center;
}

.cart-product-quantity {
  margin: 0.5rem 0 0 0;
}

.cart-product-wishlist-btn {
  background: none;
  border: none;
  font-size: 1rem;
  margin: 1rem 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  transition: 0.2s;
}

.cart-product-wishlist-btn:hover{
  box-shadow: 0 4px 0 rgba(0,0,0,0.3);
}

.cart-product-price-cut {
  text-decoration: line-through;
  font-size: 1.1rem;
  margin: 0 0.2rem 0 0;
}

.cart-product-wishlist-text-btn {
  display: none;
}

.cart-product-wishlist-icon-btn {
  display: inline-block;
  /* padding: 0.5rem 0 0 0; */
}

@media screen and (width >= 576px) {
  .cart-product-wishlist-text-btn {
    display: inline-block;
  }
  
  .cart-product-wishlist-icon-btn {
    display: none;
  }
}