.featured-products-title {
  text-align: center;
  color: var(--text-color);
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
  font-size: 1.3rem;
}

.featured-products-tagline {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 0.9rem;
}

.featured-products-container {
  max-width: 85%;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto 0 auto;
}

.featured-product {
  height: max-content;
  display: grid;
  grid-template-rows: auto auto 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 0 0.5rem 0;
  transition: 0.2s;
}

.featured-product p {
  margin: 0.5rem auto;
  width: 70%;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-product span {
  color: var(--text-secondary-color);
}

.featured-product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.featured-product-extra{
  /* opacity: 0;
  display: none; */
  text-decoration: none;
  color: var(--text-color);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.featured-product:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.skeleton-mobile {
  display: block;
}

.skeleton-not-mobile {
  display: none;
}

.featured-product-btn-container {
  margin: 0.5rem 0;
}

@media screen and (width >= 576px) {
  .skeleton-mobile {
    display: none;
  }
  
  .skeleton-not-mobile {
    display: inline-block;
  }
}

@media screen and (width >= 1024px) {
  .featured-products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}