.address-list-container  {
  margin: 0 1rem 1rem 1rem;
}

.address-list-item {
  position: relative;
  margin: 0 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 0.7rem;
  font-size: 0.8rem;
  color: var(--text-color);
}

.address-list-title {
  font-size: 0.8rem;
  color: var(--text-color);
}

.address-list-item-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  margin: -0.3rem -0.4rem 0 0;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border: none;
}

.address-list-item-delete-btn:hover:enabled {
  color: crimson;
}

@media screen and (width >= 576px) {
  .address-list-container  {
    margin: 0 0 1rem 0;
  }
}