.address-list-container  {
  margin: 0 1rem 1rem 1rem;
}

.address-list-item {
  position: relative;
  margin: 0 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 0.7rem;
  font-size: 0.8rem;
  color: var(--text-color);
}

.address-list-title {
  font-size: 0.8rem;
  color: var(--text-color);
}

.address-list-item-btns-container {
  display: block;
  margin: -0.3rem -0.4rem 0 0;
  text-align: end;
}

.address-list-item-btn {
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border: none;
}

.address-list-item-btn:nth-child(1):hover:enabled {
  color: orange;
}

.address-list-item-btn:nth-child(2):hover:enabled {
  color: crimson;
}

@media screen and (width >= 576px) {
  .address-list-item-btns-container {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: -0.3rem -0.4rem 0 0;
  }
  .address-list-container  {
    margin: 0 0 1rem 0;
  }
}