.profile-user-container {
  max-width: 100%;
}

.profile-user-avatar-container {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.profile-user-avatar-img {
  max-width: 60%;
}

.profile-user-name-text {
  font-size: 1.1rem;
}

.profile-user-name {
  font-family: Quicksand;
  font-size: 1.2rem;
}

@media screen and (width >= 576px) {
  .profile-user-avatar-img {
    max-width: 50%;
  }
}

@media screen and (width>= 1024px) {
  .profile-user-container {
    max-width: 100%;
  }
}